<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <targets>
    <target name="normalLogfile" type="File" fileName="${basedir}/logs/log.info.log" archiveFileName="${basedir}/logs/archives/log.info.${shortdate}.txt" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false"/>
    <target name="debugLogfile" type="File" fileName="${basedir}/logs/log.debug.log" archiveFileName="${basedir}/logs/archives/log.debug.${shortdate}.txt" archiveAboveSize="1048576" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="7" concurrentWrites="false"/>
    <target name="debugger" type="Debugger" layout="${message}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="normalLogfile"/>
    <logger name="*" minlevel="Trace" writeTo="debugLogfile,debugger"/>
  </rules>
</nlog>